{% extends '::base.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
			<h3>Actividades extra</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="https://dl.boxcloud.com/api/2.0/internal_files/138660085577/versions/147895824713/representations/jpg_2048x2048/content/1.jpg?access_token=1!0OfSvMdEuNI0a3c_pkW56PGKgjAOFZB8yyZS6-axhv8L7H-O7tpzAWeifbV9NUEYAYxDj-veijv3HW4AIjPG14y3mxi3_6j1FslJvUcOQ7vn2fyp4zpkuk5QM3iKCB3epalUzcoSiOaMr9AmF3NrrSC0IYpuEiDu2j0j5PYU1kV6oNO-sgEiRmt1cfP494sBY6OlPNNT7BxqklOgbqZx6ENvJnex-5PibekzFBZWBAa53JBM5JFnEMG0ve5nHDRJ_hdA1jVcmKkcBRox0aI4ZwQjxIkDXMeGRf-_L1toqbXSOIIRA-PE5bGkF9cRXQeNK197_blSeOsm44qQVf89enHzZt3f30Of_4p5OuV78vV28NjCMLdx9HrH_wN7IcpQ3tm4JXx8d0NFgTPn0g..
				" class="img-responsive">
				<div class="desc">
					<span></span>
					<h3>Clases de inglés</h3>
					<span>Lunes y miércoles ó martes y jueves</span>
					<a class="btn btn-primary btn-outline" href="{{ url('auc_contacto') }}">Contacta con nosotros <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
			<div href="#"><img src="https://dl.boxcloud.com/api/2.0/internal_files/138282702270/versions/147504558014/representations/jpg_2048x2048/content/1.jpg?access_token=1!lBu7Kjki5N3EfwIalu-LXr9giFxvTpM9623J_Wjl51T3e0INhMqzvH268Rr2EJ_2hbKtt3TuHi4rrZppQPtreIbebxEBdG3IL8RZR8zzXxN130nljDVLznYHVmRWdc64wxBr8O-F9f-aFsAXgCkJEW8dZASe3I4cQxhKmEq9n3RHtEWXyUR1dPLJlTcYLClzT8xEg5zPtUV3Ty3k8jgftBM_NpKTgfunl7lAGlGC6z37k3HayvtLJLLM-89SawU4WKoLukyeoj3njshgjRiHcp1vPEinJloIIpkGRFI44oH5hZsYaLF-Lv0SROYJ7iSWU6SnR0uvorBq-zkU_6-lqiYQYVQ2My-8t6RlG9w1_IiqvKcKN0E-uVPxjuHV7h0OVuUb1r1iM5S_Xk1NpQ.." class="img-responsive">
				<div class="desc"height="60%">
					<h3>Tecnificación</h3>
					<span>Lunes y miércoles ó miércoles y viernes</span>
					<a class="btn btn-primary btn-outline" href="{{ url('auc_contacto') }}">Contacta con nosotros <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="https://dl.boxcloud.com/api/2.0/internal_files/138659459225/versions/147895144089/representations/jpg_2048x2048/content/1.jpg?access_token=1!BloKJQwe0wzpByr8eaMIVxD0ZOiexO8_gPoGboGLBV5G8Bn3dAf144KJyhCKwFw23HNWBPR71EL-0oajTCy9pUgxkiFtS47FX57h0adRL1MZ8i0PXMvpW9JAR1pdp70nRUDCTHJWV_JXDI6wOaqQbuEipAny4I0QgZ5GYMbwZZsOBwYFJe7lUno4ZeUnFFz9aeApeNXpNUQFw7JbNhP9JODV9wkIzCMDo1NSfqm0RGfZ5r8OPh1n3dO7Dbw8J5ubh4H1EO1PwbM7exfN0jICJtfjeCI7doUcg5nmhhgRE2UZ4Vo4HIrSrf5I2FWRInoSTdWJyo3xlpOQvQ1Yf_pwp-Wez_gTNV1xMX8N6224Pf0uarNBxYtQob9YWN0lWfpfT9jm4rsW4gE_8dkK3A.." class="img-responsive">
				<div class="desc">
					<h3>Repaso</h3>
					<span>Lunes y jueves de 17.45 a 19.15.Gratuito.</span>
					<a class="btn btn-primary btn-outline" href="{{ url('auc_contacto') }}">Contacta con nosotros<i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
