{% extends '::base.html.twig' %}
{% block body %}
        <div id="fh5co-tours">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Futbol Femenino</h3>
            </div>
            <div class="row">
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-3.dropbox.com/t/2/AAB4yyQ3jW3Udd4JmLJHLonEJpZbm26ekZi0-3e4nfqw-g/12/395338669/jpeg/32x32/3/1487214000/0/2/IMG_8783.jpg/EMjK1JMDGIwMIAcoBw/azMjOFgaKN50YvH43XNsixibL77CGvSJxPVo1mvOrug?dl=0&size=1600x1200&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Amateur</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/1">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-6.dropbox.com/t/2/AAD1Awde0WTK0jIpH3pJEIYaTcTArUdgSLIwTlTkg7rYIg/12/395338669/jpeg/32x32/3/1487214000/0/2/IMG_8961.jpg/EMjK1JMDGIwMIAcoBw/bX-ScKSWPbq8_hHDFy4_1XqZOQAf-76SB-NPwV_ChcA?dl=0&size=1600x1200&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Juvenil A</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/1">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-6.dropbox.com/t/2/AAD1Awde0WTK0jIpH3pJEIYaTcTArUdgSLIwTlTkg7rYIg/12/395338669/jpeg/32x32/3/1487214000/0/2/IMG_8961.jpg/EMjK1JMDGIwMIAcoBw/bX-ScKSWPbq8_hHDFy4_1XqZOQAf-76SB-NPwV_ChcA?dl=0&size=1600x1200&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Amateur</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/1">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-6.dropbox.com/t/2/AAD1Awde0WTK0jIpH3pJEIYaTcTArUdgSLIwTlTkg7rYIg/12/395338669/jpeg/32x32/3/1487214000/0/2/IMG_8961.jpg/EMjK1JMDGIwMIAcoBw/bX-ScKSWPbq8_hHDFy4_1XqZOQAf-76SB-NPwV_ChcA?dl=0&size=1600x1200&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Amateur</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/1">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-6.dropbox.com/t/2/AAD1Awde0WTK0jIpH3pJEIYaTcTArUdgSLIwTlTkg7rYIg/12/395338669/jpeg/32x32/3/1487214000/0/2/IMG_8961.jpg/EMjK1JMDGIwMIAcoBw/bX-ScKSWPbq8_hHDFy4_1XqZOQAf-76SB-NPwV_ChcA?dl=0&size=1600x1200&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Amateur</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/1">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
{% endblock %}
