{% extends '::base.html.twig' %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
    <div href="#"><img src="images/futbol11.jpg" class="img-responsive">
      <div class="desc">
        <h3>Fútbol 11</h3>
        <span>Desde los 13 años </span>
        <a class="btn btn-primary btn-outline" href="{{ asset('futbol/once') }}" >Más información <i class="icon-arrow-right22"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
