{% extends '::base.html.twig' %}
{% block body %}
<div id="fh5co-tours">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Fútbol Convencional</h3>
            </div>
            <div class="container">
						<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-4.dropbox.com/t/2/AACmACaMclgvUT9KqRW5MLZzqIGTx4eFaJsFNdU-8Jp-dA/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8783.jpg/EMjK1JMDGIwMIAcoBw/azMjOFgaKN50YvH43XNsixibL77CGvSJxPVo1mvOrug?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Femenino</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/10">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-3.dropbox.com/t/2/AABC-h4CfeSIarINMpT1cYa09APcWBsRz7TTybI45iuVTA/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8961.jpg/EMjK1JMDGIwMIAcoBw/bX-ScKSWPbq8_hHDFy4_1XqZOQAf-76SB-NPwV_ChcA?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Amateur</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/1">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-3.dropbox.com/t/2/AAAqjAp4pVoULqn-xELinG32EzHbOwhAHHqqJRUJ4erl5A/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8803.jpg/EMjK1JMDGIwMIAcoBw/xcfa-sjE6lnzVTeUUVJC5GCgPfb53GNKjOyceXJqZVM?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Juvenil A</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/2">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-2.dropbox.com/t/2/AACHVaLfcuZkqis9XAYccO-qrIN97E_KKWx38pxqrA_b-w/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8821.jpg/EMjK1JMDGIwMIAcoBw/dJTQMQHd6DA_fF3XJJ-d1zVgk0wOCfJjQmAMOyEOG0Y?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Cadete A</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/3">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-3.dropbox.com/t/2/AADNrf_sP1i6C9F3isqiPcVTqvvX2LdjqaKacbxphXHUCQ/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8840.jpg/EMjK1JMDGIwMIAcoBw/srRjgdiuOqSJmHBpLfn9UNddozYmkODSol6y886ziM8?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Infantil A</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/4">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

   
                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-5.dropbox.com/t/2/AAAJFyzKnNKZSxUiqZyp0UgO9vEyQIzT3QE2iepuFvZn6Q/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8859.jpg/EMjK1JMDGIwMIAcoBw/dbhk6uu8thYy6Ca-OmCHO41BmJtkeZO-7RlD9EUnm-I?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Alevín A</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/5">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-4.dropbox.com/t/2/AAB4BOdy35dKQca7lxJRwQQ2VJ-q7poDq4gPtB-nW1hQFw/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8877.jpg/EMjK1JMDGIwMIAcoBw/v1NfNfCb_hffTr4CjdxuoXx8O2UtLiNgj3WcOeBcOqk%2C3nX-UZDVerhsRXqSM72MukC6lGGqq5AACfMDCWZFC4M?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Alevín B</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/6">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-2.dropbox.com/t/2/AACu85MtOmieHxf52TG4x2YpecFcQhB2-J228xU70ItkOw/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8893.jpg/EMjK1JMDGIwMIAcoBw/WvDpIJDOsTHjdPfPuHALo-5divaAA-zhd1uMghbUi_E?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Benjamín A</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/7">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-2.dropbox.com/t/2/AACu85MtOmieHxf52TG4x2YpecFcQhB2-J228xU70ItkOw/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8893.jpg/EMjK1JMDGIwMIAcoBw/WvDpIJDOsTHjdPfPuHALo-5divaAA-zhd1uMghbUi_E?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Benjamín B</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/8">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                            <div href="#"><img src="https://photos-6.dropbox.com/t/2/AABgCnzMAhPsVtk6d77K1dO2yU6xVQpS4DBRopdh9om0Tw/12/395338669/jpeg/32x32/3/1487343600/0/2/IMG_8908.jpg/EMjK1JMDGIwMIAcoBw/tRUtsyUic2WPrwlr60hxGDVIIGpXo6MkaWSjtw6iSeU%2CHFrQHXr2a6ZDj_JRgJDLK9I617CAltYu03rk0uCmVT8?dl=0&size=1280x960&size_mode=3" class="img-responsive-news">
                                <div class="desc">
                                    <h3>Prebenjamín A</h3>
                                    <a class="btn btn-primary btn-outline" href="/futbol/equipo/9">Ver Plantilla<i class="icon-arrow-right22"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
