{% extends '::base.html.twig' %}
{% block body %}
<div id="fh5co-tours">
<div class="container">
  <div id="tablaQuienes" class="background animate-box">
    <div id="dentroTabla">
        <h3 id="tituloTablaQuienes">QUIENES SOMOS</h3>
            <hr><br>
            <h4><b>Athletic Unión Catarroja </b>  es una escuela de fútbol inclusiva en la que se practica el fútbol
                convencional y el fútbol adaptado en silla de ruedas. El objetivo es formar a
                niños y niñas y a jóvenes futbolísticamente (táctica, técnica, aspectos físicos y
                pedagógicos) e incorporar en Valencia las escuelas deportivas inclusivas. La
                salud, calidad de vida, diversión, formación e inclusión son las premisas de esta
                escuela.</h4>
    </div>
  </div>
</div>

  <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
      <h3>Directiva</h3>
  </div>
  <div class="container">

  <div class="col-md-12 col-md-offset-2">
    <img id="img-responsive" src="http://static.wixstatic.com/media/c38e51_573620b723f24cbc8b9a61912b48fc11~mv2.jpg_srz_672_306_85_22_0.50_1.20_0.00_jpg_srz"
    alt="FotoDirectiva" class="img-thumbnail animate-box" >
  </div>
  </div>
  <div>
    <hr class="animate-box">
  </div>
  <div class="wrapper animate-box" id="wrapper">
    <section class="gallery" id="gallery" style="margin-right: 50px">
      <div class="container">
        <div id="grid-gallery" class="grid-gallery">
          <section class="grid-wrap">
            <ul class="grid">
              <li class="grid-sizer"></li><!-- for Masonry column width -->
              <li>
                <figure>
                  <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634776473/versions/147868996249/representations/jpg_2048x2048/content/1.jpg?access_token=1!hz-9f6cJP42V8in_LDZTAZO9TgtSNRb0gCX6oImM7sZ4z0PqXy0thrZmKUr0Lo9RQn3fMbpXbttnZBOxnPzMbOg3h832h2tbiDarOl2bwe1JANeg3wKueqDlXYrPGVb1JyA_Z0Tx9QD2VlAueJkfnAs5JU0lDHK3QqRWkJF2FO7vtTU8QW9qiQikPGWdohPoCGiLSFkLRJz3_hBMRfxRBa50kJ5b9t9TDaZ1G-MURhIkzBGA2mCw4KPHCv-7DhbH2AdfZEcjmg0xeT8HEHCEqZ8U_5JALaCwIldshvVyOY_Wf7RtXa_Zk38zupVaO76nv9bNe07hEbvwAywiBNaRq6xmetM-PXRlMSEscB7_Ng8JkNaAu2Dp5uBNzqnoDLxwLCP4FDKPBthVu8UIjA.." alt="Vicepresidente" class="img-responsive-person"/>
                  <figcaption>
                    <h3>
                      <b>VICEPRESIDENTE</b>
                    </h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634778111/versions/147868998655/representations/jpg_2048x2048/content/1.jpg?access_token=1!D48eA7sSTemSDPqEZoIOpuJU2TkRObYfyMbcrU7o4nny5YpwHb-0qZ-z3DQuxSENwyrK03PLd-bekVUqB9vsN84Ekiuw2AOktVtPl2B0rn_5S5zLHrSlSo5bSom-268KuZXjvPUTFB_C9z0V95zoYhJvdSjtoM-2UzofbnJwiGXPkzPJ0FU2-Y7P4hYmf4zNb7cXRwiv2hL-14QZ0x-za0jFwIq0S0iq6EuB-z5Bs_MfWbQ_TRmlaNAltvHVU_LOEWeh7J6B9Yd_qxlv6fi9n6_pJM8tpK0nnHXhsnaafEpRjZmLHN5IZnpZn139_rgBUIxxcRNHY_KEk_pwd2-s2HTchIh4ytHzp90aP7uWRv0_pZguZsePzh3hHVpmJSAIO0HI7p5jbuJTOi8J4g.." alt="Presidente" class="img-responsive-person"/>
                    <figcaption>
                      <h3>
                        <b>PRESIDENTE</b>
                      </h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634782440/versions/147868999400/representations/jpg_2048x2048/content/1.jpg?access_token=1!mFOtAmNKVSvxybbwBTUpy-MASJLOlqQ0cx3mAODGjKx_2cwqPGTP-4o8ZLyEZOPcM43FHymmBouu7uDJLqrJr_9VOwHcbW7zJmwURVNaFHyQ_cFYHUZ-TmbSnkJjDuyRP9EtBZZyeEBX4-GEnvsb54iNoVciwdnvSRgnGQUmSASgbmoqTmLEPyUCdLjnTt8sSBv_g03vfVBckv8hdd_7lWlokTxn9wl_-6oGPikMpCot4-bLLGEXHRiAM4WCyRVEFGMRvdrf09ouiNvbTlfbdxz1fqFm2uV-l6WYHdE2EFdIfm37uV_WrZIeK3H0lXQr0vAmCK8mWy9lXJhYlSh39wykPNuluAsw5SsW4nWC0A-36tzmniJwIwjW0hSODhMUOJbZ2s_pcGd3inPgHg.." alt="Secretaria" class="img-responsive-person"/>
                    <figcaption>
                      <h3>
                        <b>SECRETARIA</b>
                      </h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634772293/versions/147868986181/representations/jpg_2048x2048/content/1.jpg?access_token=1!xnDvPIUx0uOTrs0nMj6reg2XbxCyDvu4ySnA6SyC45I4MbfwM_NJ4pSlm_WdfX93nlbQX6tQspZAEQznAXlZf_NVEfoLnDBanz39bHKhO_hzox-f6x7xvTNp0TL9CGeOaIRsFM90Qy49_Uri7qg2B2f11TdoXzq8SHGOm6pJCIBjbfAsxqRzgUYxbQqRNs45xNJpqwvQvC2d6gw-HF1Dpl7EPDqWqYiTcfaxCGuP6gbdSUg1KTJmFUoQP38S9vNHlwF1ObUJrde_vjSfbMmcUInzFvrXQZrM4ZjQFjcvDQ0Jj-2Qk8tOR92coXzNu6_3XIj6AkYwKkepBa4cTrRb7HPdmZJSFB8FQnMvukuNV5ZB9XQFJUf2i8_3zMTblLR6TKFyEAgqLo7tcN23UQ.." alt="Secretaria" class="img-responsive-person"/>
                    <figcaption>
                      <h3>
                        <b>TESORERA</b>
                      </h3>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </section><!-- // end small images -->

            <!-- // start imagenes zoom -->
            <section class="slideshow">
              <ul>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138281934114/versions/147503684386/representations/jpg_2048x2048/content/1.jpg?access_token=1!B5X9z4dIHlaqujCbKSAoNSpXoFgDEKe-kN7mljwdOYkgq9JD92rsFFzIDGDYE_D_AY5N-4vtQNacWnUqImgZBCTqkPNuT6IbhCWfDEcQvSz0ufeNreUyOs9-VLBaHjHhp0iOIOVIx81284-53DS63PxX5q32BtlzWySg3boFqE0WEupd4gMoCWTS6QJjeaoQhRbSPIj4fjk0thwFduzAw6YRE85hCaLztJNT_SN0edigM4eflq7A4Qvjdn4KMVtkHW7j0BU7JbNJMn9Qw-PqIf3qCFGi5h1VDvpV1LHbeRQG9gmuf33hJPhcgN5nthLdnSD9pdFxq_ztKx_iuPtqVwAu537EVpImI2gI-cqaE1DGLz7yw0MnIcf8oKbaW5i5RETJVNY-X0njqw-6iQ.." alt="Presidente" class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>Toni Sanchis Zafra</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Curso Director Deportivo de Fútbol </div>
                        <div>- Entrenador de fútbol nivel 2 </div>
                        <div>- Actualmente cursando nivel 3 de entrenador </div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="images/jose.jpg" alt="Presidente" class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>José Hernández</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Entrenador de fútbol Nivel 3 (Nacional)</div>
                        <div>- Pedagogo</div>
                        <div>- Coach Nivel 1 Experto</div>
                        <div>-Cursando grado de Educación Social</div>
                        <div>-8 años de experiencia como entrenador de fútbol</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="http://static.wixstatic.com/media/c38e51_69bb974110414eb1a0319a704099c301.jpg_srz_208_235_85_22_0.50_1.20_0.00_jpg_srz" alt="Secretaria"  class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>Alba Sospedra</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Licenciada Comunicación Audiovisual</div>
                        <div>- Máster de Profesorado en Secundaria, Bachilleratom y FP Community Manager</div>
                        <div>- Amplia experiencia como redactora de informtivos</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138282540098/versions/147504368962/representations/jpg_2048x2048/content/1.jpg?access_token=1!UnHRybepiJeQIYDUEgCooc1vW4Rjn7W0yVZOczReLmAvzVWAcXH_H1eQEBvq_klIJZ8Lgv_q0p7FQpWRDPam-3u3L2I0Q2tHcWx4gJXQSke6-GgWdfTO4pY09JOgIVJON0cGS0PjQPbC38rIqcHQfdc6hI_bhn0_0OAnBnoTXyIcPcvboOC00aou93vp1pB1euZVcEkPnqBvS4xJpC_orG0lLuV3YqdCjbZdSPo4SE709M621J2dyk8R2Uone7GSfH4wYmvzYCPhErcJqMffNvgetc44U8AXNtxM1LrNKvOQ-2cgjPDScJfh0f2wi3mxKfljBVcC99B113mv8gMT39XneIGKuZdXSb4bWbKuCZBMD94s4CyD08crGA_zLvkJeLmdDttolYoFLjpXqA.." alt="Secretaria"  class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>Mar Martin Garcia</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Licenciada Comunicación Audiovisual</div>
                        <div>- Máster de Profesorado en Secundaria, Bachilleratom y FP Community Manager</div>
                        <div>- Amplia experiencia como redactora de informtivos</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
              </ul>
              <!-- // Iconos slaider sig,ant,clos -->
              <nav>
                <span class="icon nav-prev"></span>
                <span class="icon nav-next"></span>
                <span class="icon nav-close"></span>
              </nav>
            </section><!-- // end slideshow -->
          </div><!-- // grid-gallery -->
        </div>
      </section>
      <div class="container">
        <div id="tablaQuienes" class="background animate">
          <div id="dentroTabla">
              <h3 id="tituloTablaQuienes">OBJETIVOS</h3>
                  <hr><br>
                  <h4>- Desarrollar de manera equilibrada las capacidades condicionales y coordinativas generales, integradas
                       en el desarrollo y formación de actitudes afectivo-sociales.<br>
                       - Formación, desarrollo y mejora de las capacidades técnicas, tácticas, condicionales, coordinativas especícas
                       y psicológicas en cada una de las etapas evolutivas del jugador.</h4>
          </div>
        </div>
      </div>
      </div>
      <!-- Script de quienes somos -->
      <script src="{{ asset('js/imgloaded.js') }}"></script>
      <script src="{{ asset('js/classie.js') }}"></script>
      <script src="{{ asset('js/gridscroll.js') }}"></script>
{% endblock %}
